rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /orders/{orderId} {
      allow create: if request.auth != null
        && request.resource.data.customer.uid == request.auth.uid
        && request.resource.data.status == 'requested'
        && request.resource.data.paymentStatus == 'not_collected'
        && request.resource.data.customer.phone is string
        && request.resource.data.customer.phone.size() == 10
        && request.resource.data.customer.address is string
        && request.resource.data.customer.address.size() > 3;

      allow read, update, delete: if false;
    }
  }
}
